body{
  margin: 0;
}

header {
    display: flex;
    background: #333333;
    color: grey;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
}

.brand {
  background-color: #333333;
  margin-left: 50px;
}

a {
  color: grey;
  text-decoration: none;
  padding: 10px;
}

.nav-container{
  padding:10px;
  color: red;
  height: 30px;
  background-color: #212121;
  margin-right: 50px;
}

.tagline {
  padding-top: 0px;
  margin-top: 0px;
}

h1{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.flex-top-half-container{
  display:flex;
  justify-content: center;
  height: 300px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.pic{
  width: 630px;
}

.flex-second-half-container{
  display: flex;
  justify-content: center;
}

.small{
  float:left;
}

.read{
  float:right;
}

.flex-second-half-columns{
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  display: flex;
  align-items: center;
  color: grey;
  height: 40px;
  background: #333333;
}

footer p {
  margin-left: 50px;
}
